
<nav class="navbar navbar-inverse" *ngIf="nav.visible">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLinkActive="active" [routerLink]="">Employee Management System</a>
      </div>
    <ul class="nav navbar-nav">
      
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['register']">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['view']">View Employee Details</a>
      </li>
      <li class="nav-item">
          <a class="nav-link"   [routerLink]="['welcome']">Logout</a>
        </li>
    </ul>
    </div>
  </nav>
